* {
    margin: 0%;
    margin-bottom: 0%;
    padding: 0%;
    font-family: sans-serif;
    text-transform: capitalize;
    transition: all 0.2s linear;
    overflow-x: hidden;
}

li.card {
    display: inline-block;
    padding: 20px;
    margin-top: 30px;
    margin: 20px;
}

#btn {
    border-radius: 49%;
    background-color: yellow;
    color: black;
}

body {
    background: black;
}

img.logo {
    width: 50px;
    height: 45px;
    mix-blend-mode: hard-light;
    border: solid white;
    border-radius: 50%;
}

#burger {
    width: 250px;
}

#pizza,
#fries {
    width: 100%;
    height: 183px;
}

#home:hover {
    color: yellow
}

#dishes:hover {
    color: yellow
}

#about:hover {
    color: yellow
}

#Contact:hover {
    color: yellow
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

#home .content h1 {
    font-family: 'lemonada', sans-serif;
    font-weight: bolder;
    text-shadow: .1rem .1rem .3rem #333;
    color: #FFF200;
}

#cheff {
    mix-blend-mode: normal;
    width: 100%;
}

#home .content h2 {
    font-family: 'lemonada', sans-serif;
    font-weight: bolder;
    text-shadow: .1rem .1rem .3rem #333;
    color: #fff;
    margin: 1rem 0;
}

#home .content p {
    color: rgb(250, 240, 240);
    font-weight: bolder;
}

#home .content button {
    outline: none;
    border: none;
    border-radius: 5rem;
    color: #333;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: .2rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 2rem;
    width: 10rem;
    background: #fff;
}

#home .content button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #FFF200;
    height: 100%;
    width: 0%;
    -webkit-transition: .2s;
    transition: .2s;
    z-index: -1;
}

#home .content button:hover::before {
    width: 100%;
}

#home .video-container {
    position: absolute;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

#home .video-container .vid {
    position: absolute;
    height: 100vh;
    width: 100%;
    left: 0%;
    -o-object-fit: cover;
    object-fit: cover;
    display: none;
}

#home .video-container .vid1 {
    display: block;
}

#dish {
    min-height: 100vh;
    width: 100vw;
}

#dish .heading h1 {
    font-family: 'lemonada', sans-serif;
    text-shadow: .1rem .1rem .3rem #333;
    color: #FFF200;
}

#dish .heading h1 span {
    color: #FFF200;
}

#dish .box-container {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 1rem auto;
    width: 100%;
}

#dish .box-container .box {
    height: 13rem;
    width: 18rem;
    border-radius: .5rem;
    margin: 2rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 0 0 .5rem #333;
    box-shadow: 0 0 .5rem #333;
}

#dish .box-container .box img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

#dish .box-container .box .info h3 {
    font-weight: bolder;
}

#dish .box-container .box .info {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(51, 51, 51, 0.6);
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    color: #fff;
    -webkit-transform: scale(0);
    transform: scale(0);
}

#dish .box-container .box .info p {
    border-bottom: 0.2rem solid #FFF200;
    border-top: 0.2rem solid #FFF200;
    margin: 1rem 2rem;
}

#dish .box-container .box .info button {
    outline: none;
    border: none;
    border-radius: 5rem;
    color: #333;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: .2rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 10rem;
}

#dish .box-container .box .info button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #FFF200;
    height: 100%;
    width: 0%;
    -webkit-transition: .2s;
    transition: .2s;
    z-index: -1;
}

#dish .box-container .box .info button:hover::before {
    width: 100%;
}

#dish .box-container .box:hover .info {
    -webkit-transform: scale(1);
    transform: scale(1);
}

#contact .heading h1 {
    padding-top: 7rem;
    margin-bottom: 2rem;
}

#contact .heading h1 {
    color: #FFF200;
}

#contact form {
    background: #fff;
    padding-top: 2rem;
    margin: 1rem 2rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0 2rem 2rem rgb(7, 7, 7);
    box-shadow: 2rem 2rem 4rem 2rem rgb(7, 7, 7);
}

#contact form .inputBox {
    position: relative;
    text-align: center;
}

#contact form .inputBox input,
#contact form .inputBox textarea {
    outline: none;
    border: .2rem solid #333;
    border-radius: .2rem;
    margin: 2rem 0;
    padding: 0 1rem;
    background: none;
    height: 4rem;
    width: 90%;
}

#contact form .inputBox input:focus~h3,
#contact form .inputBox input:valid~h3,
#contact form .inputBox textarea:focus~h3,
#contact form .inputBox textarea:valid~h3 {
    font-size: 1.6rem;
    left: 6%;
    top: -.5rem;
    color: #ff3300;
}

#contact form .inputBox textarea {
    padding: 1rem;
    resize: none;
    height: 20rem;
}

#contact form .inputBox h3 {
    position: absolute;
    top: 3rem;
    left: 7%;
}

#contact form input[type="submit"] {
    outline: none;
    border: none;
    border-radius: 5rem;
    color: #333;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: .2rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 2rem;
    width: 8rem;
    margin-bottom: 2rem;
    margin-left: 4%;
    background: #333;
    color: #fff;
}

#contact form input[type="submit"]::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #FFF200;
    height: 100%;
    width: 0%;
    -webkit-transition: .2s;
    transition: .2s;
    z-index: -1;
}

#contact form input[type="submit"]:hover::before {
    width: 100%;
}

#contact form input[type="submit"]:hover {
    color: #333;
    background: #FFF200;
}

footer {
    position: relative;
    bottom: 0;
    height: 275px;
}

#social_media {
    padding: 2px;
    margin: 20px;
}

.address {
    font-size: 50px;
}